<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="HTTPSListener@8443" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">8443</number>
      <value name="protocol">HTTPS</value>
      <value name="pkg">qdtContactManagement</value>
      <value name="enabled">true</value>
      <value name="key">HTTPSListener@8443</value>
      <value name="uniqueID">ea0f92df73ec48849030bc92c372c16b</value>
      <value name="portAlias">HTTPS_SVC</value>
      <value name="portDescription">HTTPS service</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <value name="clientAuth">none</value>
      <value name="idProvider">salesforce.com</value>
      <value name="ssl">true</value>
      <value name="maxQueue">200</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
      <value name="alias">sttlab.eu</value>
      <value name="keyStore">STTLAB</value>
      <value name="trustStore">DEFAULT_IS_TRUSTSTORE</value>
      <null name="jsseDisabledProtocols"/>
      <null name="jsseEnabledProtocols"/>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="HTTPSListener@8443" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">include</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
        </list>
      </record>
      <value name="key">HTTPSListener@8443</value>
    </record>
  </record>
</Values>
